[Unit]
Description=BBC Asian Network Live Transcode
# the next line uses your shell script to send an email message if the service fails
# the name of the service is passed as the first and only parameter
#OnFailure=notify@%n.service

[Service]
User=pi
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/home/pi/bbc-asian-network-live-transcode/src

#path to executable.
#executable is a bash script which calls jar file
ExecStart=/home/pi/bbc-asian-network-live-transcode/src/bbc_asian_network_live_transcode.sh

SuccessExitStatus=0
TimeoutStopSec=10
#Restart=on-failure
#RestartSec=10800
# 10800 = 3h

[Install]
WantedBy=multi-user.target